extends layout

block variables
  - var title = "Channels"

block content
    
    -function prettyDate(dateString){
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}


    h2.text-center Channels
    table.form-table
        tr
            th
                h4.add-forms Invite User to Workspace
            th
                h4.add-forms Add New Channel
            th
                h4.add-forms Make User Admininistator
        tr
            td
                if user.id == workspaceDetails[0].wcreatorid
                    div.add-forms
                        
                         form#inviteuser()
                             div.form-group
                                 label(for='user_email') User Email:
                                 input#user_email.form-control(type='email', name='user_email', placeholder="Enter user email" value='')
                             input(type='submit', value='Invite User to Workspace')     
 
            td
                div.add-forms
                    form(method='POST' action='/workspace/addchannel/?workspace='+workspaceDetails[0].wid)
                        table
                            tr
                                td.form-cell
                                    div.form-group
                                      label(for='name') Channel Name:
                                      input#name.form-control(type='text', name='channel_name' required)
                                    div.form-group
                                td.form-cell
                                    label(for='channel_type') Channel Type:          
                                    input#channel_type.form-control(type='radio', name='channel_type', value='public' checked='checked') 
                                    | Public
                                    input#channel_type.form-control(type='radio', name='channel_type', value='private') 
                                    | Private
                                    input#channel_type.form-control(type='radio', name='channel_type', value='direct') 
                                    | Direct
                            tr(col-span=2)
                                td
                                    input(type='submit', value='Submit')
            td
                div.dashboard-form
                    form(action='/workspace/addAdmin/?workspace='+workspaceDetails[0].wid method='post')
                        label(for='users') Make User Administrator
                        select(name='userToAdmin' id='userToAdmin')
                            each wu in userList
                                option #{wu.email}
                            input(type='submit' value='Submit')
    script.
      $('#inviteuser').on('submit',function (e) {
          e.preventDefault();
          var user_email = $('#user_email').val();
          var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
          if (!emailReg.test(user_email) || user_email.length < 5) {
              alert("Please enter a valid e-mail address");  
              return false;  
          } 
          $.ajax({
            type: 'post',
            url: '/workspace/sendinvite/?workspace=' + #{workspaceDetails[0].wid},
            data: $('#inviteuser').serialize(),
            success: function () {
             console.log("Validated!");
            }
          });
          $('user_email').val()='';
      });
    .row
        .offset-sm-2.col-sm-8
            | Welcome to #{workspaceDetails[0].wname}, #{user.profile.firstName}
            .jumbotron.text-center
                table
                    tr 
                        th.list-cell Channel Name
                        th.list-cell Created at
                    for ch in channelList
                        tr(align='left')
                            td.list-cell
                                a(href="/chat/?channel="+ch.cid) #{ch.cname}
                            td.list-cell
                                | #{prettyDate(ch.ctimestamp)}
                        
